{% extends "todo/home.html" %}

{% block content %}
<h2> Your Tasks </h2>

<a href='{% url 'task_add' %}'> + Add Task</a>

<ul>
    {% for task in tasks %}
        <li>
            {% if task.completed %} <s> {% endif %}
            {{ task.title }}
            {% if task.completed %} <s> {% endif %}
            [<a href="{% url 'task_edit' task.id %}">Edit</a>]
            [<a href="{% url 'task_delete' task.id %}">Delete</a>]
            [<a href="{% url 'task_complete' task.id %}">
                {% if task.completed %}Mark Incomplete{% else %}Mark Complete{% endif %}
            </a>]
        </li>
    {% empty %}
        <li> No tasks found.</li>
    {% endfor %}
</ul>
{% endblock %}
